# Python
__pycache__

# pyenv
.python-version

# Vagrant
.vagrant

# Credentials
creds*
credentials.txt

# Node files
package-lock.json

# Log files
*.log
=======

# Secrets
pass.yaml
# Backups
bkp/
*.bkp
